@use 'variables' as *;

.movie-section {
  padding: $margin-medium;
  color: $color-white;
  text-align: center;
  background-color: $color-background-darker;
}

.section-title {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-medium;
  color: $color-netflix-red;
  text-shadow: 2px 2px 4px $color-shadow-black;
}
